@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --orange: #ffa500;
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--orange);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding: 2rem 2rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: 2px solid var(--orange);
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: #f6deb2;
    color: var(--orange);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6%;
}
header .logo {
  font-size: 2.4rem;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}
header .logo span {
  color: var(--orange);
}
header .nav-bar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 1rem;
}
header .nav-bar a:hover {
  color: var(--orange);
}
header .nav-bar .active{
  color: var(--orange); 
}
header .icon i {
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
}
header .icon i:hover {
  color: var(--orange);
}
header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
}
.unactive {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}
header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 3.5rem;
}
header .search-bar-container label:hover {
  color: var(--orange);
}
#search-btn {
  margin-right: 20px;
  width: 20px;
}

/* header form style*/

.login-form-container {
  
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 16690;
  position: fixed;
}
.login-form-container .topi{
    top: 0;
}
.topu{
  position: fixed;
  left: 0;
  top: -120%;

}
.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 50rem;
  z-index: 16691;
  position: fixed;
}
.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  text-transform: none;
}
.login-form-container form .box:focus{
    border-color: var(--orange);
    box-shadow: 1px 1px 10px rgb(207, 206, 206);
}
.login-form-container form #remember{
    margin: 2rem 0 ;
}
.login-form-container form label{
    font-size: 1.5rem;
}
.login-form-container form .btn{
    display: block;
    width: 100%;
}
.login-form-container form p{
    padding: .5rem 0 ;
    font-size:1.5rem ;
    color: #666;
}

.login-form-container form p a{
    color: var(--orange);
}
.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top: 13rem;
    right: 3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
    z-index: 23333;
}

#menu-bar{
  color: #fff;
  border: .1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* design home section */
.home{
  display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
position: relative;
z-index: 0;
min-height: 100vh;
}

.home .container{
  text-align: center;
}

.home .container h3{
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem .5rem rgba(0,0,0,.3);
}

.home .container p{
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
}

.home .video-container video{
  position: absolute;
  top: 0;left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .controls{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 5rem;
  position: relative;
  top: 10rem;
  display: none;
}

.home .controls .vdo-btn{
  height: 1.5rem;
  width: 1.5rem;
  margin:0 .4rem ;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.home .controls .active{
  background-color: #f1d196;
}

/* styling second section  of book now */
.heading{
  text-align: center;
  padding: 2.5rem 0;
}

.heading span{
  font-size: 3.5rem;
  background-color:#f1d196 ;
  color: var(--orange);
  border-radius: .5rem;
  padding: .2rem 1rem;
  /* display: inline-block; */
}

.heading .space{
  display: none;
  
}
.book{
   height: 70%;
}
.book .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  
}
.book .row .imagel{
  flex: 1 1 40rem;
}
.book .row form .padd{
  padding-top: 6rem;
}
.book .row form{
  flex: 1 1 40rem;
  padding-top: 1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
padding: 4rem;
}

.book .row .imagel img{
width:80%;
}

.book .row form .inputbox{
  padding: .5rem;
}

.book .row form .inputbox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

.book .row form .inputbox input{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform:none;
}

.book .row form .inputbox input:focus{
  border-color: var(--orange);
  box-shadow: 1px 1px 10px rgb(207, 206, 206);
}

/* styling the package container */
.package .package-container{
  
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.package .package-container .box{
  flex: 1 1 40rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.package .package-container .box img{
height: 25rem;
width: 100%;
object-fit: cover;
}
.package .package-container .box .content{
  padding: 2rem;
}
.package .package-container .box .content h3{
  font-size: 2rem;
  color: #333;
}
.package .package-container .box .content h3 i {
  color: var(--orange);
  padding: .1rem;
}
.package .package-container .box .content p{
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.package .package-container .box .content .star i{
  font-size: 1.7rem;
  color: var(--orange);
}

.package .package-container .box .content .price{
  font-size:2rem;
  color:#333;
  padding-top: 1rem;
}

.package .package-container .box .content .price span{
  font-size: 1.5rem;
  color: #333;
  text-decoration: line-through;
}

/* styling services section */

.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.services .box-container .box{
  flex: 1 1 40rem;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
}
.services .box-container .box i{
  padding: 1rem;
  font-size: 5rem;
  color: var(--orange);
}
.services .box-container .box h3{
  font-size: 2.5rem;
  color: #333;
}
.services .box-container .box p{
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

 /* styling of gallery section  */

 .gallery .box-container{
   flex-wrap: wrap;
   gap: 1.5rem;
   display: flex;
   margin: 20px;
 }
 .gallery .box-container .box{
  flex: 1 1 40rem;
  border-radius: .5rem;
  overflow: hidden;
  height: 25rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}
.gallery .box-container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%;right: 0;
  height: 100%;
  width: 100%;
  text-align: center ;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  top: 0;
  
}

.gallery .box-container .box h3{
  font-size: 2.5rem;
  color: var(--orange);
}
.gallery .box-container .box p{
  font-size: 1.5rem;
  color:#eee;
  padding: .5rem 0;
}

 /* stylin the review section  */

 .review .review-slider{
   padding: rem;
 }

 .review .box{
   padding: 2rem;
   text-align: center;
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
   border-radius: .5rem;
 }
 .review .box img{
   width: 13rem;
   height: 12rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
 }
 .review .box h3{
   font-size: 2.5rem;
   color: #333;
 }

 .review .box .stars i{
  font-size: 1.7rem;
  color: var(--orange);
  
}

.swiper-slide{
  width: 500px;
}


.contactme {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactme  form{
  width: 40rem;
}
.contactme  form .inputbox{
  padding: .5rem;
}

.contactme  form .inputbox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

.contactme form .inputbox input{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform:none;
}

.contactme  form .inputbox input:focus{
  border-color: var(--orange);
  box-shadow: 1px 1px 10px rgb(207, 206, 206);
}
.contactme  form  .inputbox textarea{
       border: 1px solid black;
}

.register{
  display: none;
}

.footer{
  width: 100%;
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.footer p{
  color: white;
  font-size: 1.7rem;
 
}
.footer  p .name{
  color: var(--orange);
  font-weight: 700;
}


/* .userSection{
  position: absolute;
  top: 8rem;
  right: 10px;
  height: 80px;
  width: 200px;
  background-color: white;
  display: none;
  justify-content: center;
  align-self: center;
  gap: 5px;
}

.userSection button{
  background-color: var(--orange);
  padding: .3rem 2rem;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: white;
}

.userSection button:hover{
  background-color:#f1d196 ;
  border: 2px solid var(--orange);

}
 */



.userSection{
  position: absolute;
  top: 8rem;
  right: 10px;
  height: 80px;
  width: 200px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  >p{
    font-size: 3rem;
  }

  >div>button{
    background-color: var(--orange);
  padding: .3rem 2rem;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: white;
  }
  >div>button:hover{
    background-color:#f1d196 ;
    border: 2px solid var(--orange);
  
  }

  >div>.logout{
      background-color: red;
  }
  >div>.logout:hover{
    background-color: rgb(241, 141, 141);
    border: 1px solid red;
}
}

.userSectionShow{
  display: flex;
}


/* media queries */


@media (max-width:1000px){
  html{
    font-size: 50%;
  }
}

@media (max-width:781px){
  header{
    padding: 2rem;
  }
  section{
    padding: 2rem;
  }
}

@media (max-width:685px){
  #menu-bar{
    display: initial;
  }
  header .nav-bar{
    position: absolute;
    top: 100%;left: 0; right: 0;
    background: #333;
border-top: 1px solid rgba(255, 255, 255, 0.2);
padding: 1rem 2rem;
  }
  .unuse{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

  }
  .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .nav-bar a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.4rem 0;
    text-align: center;
    background: #222;
  }
  .heading span{
    font-size: 2.5rem;
  }
  /* .book .row{
    display: block;
  } */
  }
